/* You can add global styles to this file, and also import other style files */

.form-group .ng-touched.ng-invalid {
	border: 1px solid red;
}

.number-field {
	text-align: right
}

.msg {
	font-style: italic;
	font-size: 1.2em;
	background: #ecf0f1;
}